#webcam-app {
  background-image   : url(../images/metal-background.jpg);
  background-position: center center;
  background-repeat  : no-repeat;
  background-size    : cover;
  background-color   : black;
  width              : 100vw;
  height             : 100vh;
}

.webcam-container {
  background-color: black;
  height          : 100vh;
  width           : 100vw;
}

#background-container {
  height: 100vh;
  width : 100vw;
}

#uploadImg {
  border-radius: 6px;
  display      : none;
  left         : 4px;
  position     : absolute;
  top          : 4px;
  width        : 24vw;
  z-index      : 9999;
}

@media screen and (min-width: 768px) {
  .webcam-container {
    background-attachment: fixed;
  }
}

.form-control.webcam-start {
  background : transparent;
  border     : none;
  color      : white;
  font-size  : 1.2rem;
  height     : 55px;
  left       : 0;
  margin     : auto;
  padding    : 10px 20px;
  position   : relative;
  right      : 0;
  text-shadow: 1px 1px #000;
  top        : 45%;
  width      : 350px;
  z-index    : 9999;
}

.form-control .webcam-start__bg {
  background-color: #060606;
  border-radius   : 3px;
  bottom          : 0;
  left            : 0;
  opacity         : .2;
  position        : absolute;
  right           : 0;
  top             : 0;
  z-index         : 2;
}

.form-control.webcam-on {
  -moz-transform   : translateX(-50%);
  -ms-transform    : translateX(-50%);
  -o-transform     : translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom           : auto;
  left             : 50%;
  position         : fixed;
  right            : auto;
  top              : 2vh;
  transform        : translateX(-50%);
  transition       : all 100ms;
  width            : 145px !important;
}

.form-control.webcam-off {
  transition: all 100ms;
}


.form-switch {
  -webkit-tap-highlight-color: transparent;
  cursor                     : pointer;
  display                    : flex;
  position                   : relative;
  z-index                    : 3;
}

.form-switch i {
  background-color: #e6e6e6;
  border-radius   : 25px;
  display         : inline-block;
  height          : 30px;
  margin-right    : .5rem;
  position        : relative;
  transition      : all 0.3s linear;
  vertical-align  : text-bottom;
  width           : 60px;
}

.form-switch i::before {
  background-color: #fff;
  border-radius   : 15px;
  content         : "";
  height          : 25px;
  left            : 0;
  position        : absolute;
  transform       : translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition      : all 0.25s linear;
  width           : 56px;
}

.form-switch i::after {
  background-color: #fff;
  border          : 1px solid grey;
  border-radius   : 15px;
  box-shadow      : 2px 2px 2px rgba(0, 0, 0, 0.25);
  content         : "";
  height          : 26px;
  left            : 0;
  position        : absolute;
  transform       : translate3d(2px, 2px, 0);
  transition      : all 0.2s ease-in-out;
  width           : 26px;
}

.form-switch:active i::after {
  width    : 60px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked+i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked+i {
  background-color: #4BD763;
}

.form-switch input:checked+i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked+i::after {
  transform: translate3d(30px, 2px, 0);
}

.form-switch input:disabled+i {
  background-color: #eeeeee;
  cursor          : not-allowed;
}

.form-switch input:disabled+i::after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10);
}


.app-panel {
  background-color: black;
  height          : 100vh;
  text-align      : center;
  width           : 100vw;
}

#webcam {
  display       : block;
  height        : 100vh;
  margin        : auto;
  pointer-events: none;
  position      : relative;
  width         : auto;
  z-index       : 999;
}

.md-modal {
  -moz-backface-visibility   : hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility        : hidden;
  height                     : 100vh;
  left                       : 0;
  margin                     : auto;
  position                   : fixed;
  right                      : 0;
  top                        : 0;
  visibility                 : hidden;
  width                      : 100vw;
  z-index                    : 2000;
}

.md-show {
  visibility: visible;
}

.md-overlay {
  -moz-transition   : all 0.3s;
  -webkit-transition: all 0.3s;
  background        : rgba(#e4f0e3, 0.8);
  height            : 100%;
  left              : 0;
  opacity           : 0;
  position          : fixed;
  top               : 0;
  transition        : all 0.3s;
  visibility        : hidden;
  width             : 100%;
  z-index           : 1000;
}

.md-show~.md-overlay {
  opacity   : 1;
  visibility: visible;
}

.md-effect-12 .md-content {
  -moz-transform    : scale(0.8);
  -moz-transition   : all 0.3s;
  -ms-transform     : scale(0.8);
  -webkit-transform : scale(0.8);
  -webkit-transition: all 0.3s;
  opacity           : 0;
  transform         : scale(0.8);
  transition        : all 0.3s;
}

.md-show.md-effect-12~.md-overlay {
  background-color: #e4f0e3;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
  background: transparent;
}

.md-show.md-effect-12 .md-content {
  -moz-transform   : scale(1);
  -ms-transform    : scale(1);
  -webkit-transform: scale(1);
  opacity          : 1;
  transform        : scale(1);
}

#errorMsg {
  left    : 0;
  padding : 20px;
  position: fixed;
  top     : 22vh;
  z-index : 999999;
}

@media screen and (min-width: 768px) {
  #errorMsg {
    left    : 20vw;
    padding : 20px;
    position: fixed;
    top     : 32vh;
    z-index : 999999;
  }
}

#cameraFlip {
  background-color   : black;
  background-image   : url(../images//camera_flip_white.png);
  background-position: center center;
  background-repeat  : no-repeat;
  background-size    : cover;
  cursor             : pointer;
  height             : 55px;
  position           : absolute;
  right              : 1vw;
  top                : 2vh;
  width              : 70px;
  z-index            : 10000;
}

.cameraControls {
  background: transparent;
  bottom    : 7vh;
  opacity   : 0.7;
  padding   : 10px;
  position  : absolute;
  width     : 100%;
  z-index   : 99999;
}


.material-icons {
  background-color: black;
  border-radius   : 50%;
  color           : white;
  font-size       : 50px !important;
  height          : 80px;
  margin          : 0 10px;
  padding-top     : 15px;
  width           : 100px;
  width           : 80px;
}

.flash {
  background-color: #fff;
  height          : 100%;
  left            : 0;
  position        : fixed;
  top             : 0;
  width           : 100%;
  z-index         : 999999;
}

#canvas {
  background-color: transparent;
  height          : 100vh;
  left            : 0;
  margin          : auto;
  margin-left     : auto;
  margin-right    : auto;
  position        : absolute;
  right           : 0;
  top             : 0;
  width           : auto;
  z-index         : 9999;
}

@media screen and (max-width: 420px) {
  .form-control.webcam-start {
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (orientation:portrait) {
  #webcam {
    transform: translateX(-20%) scale(-1, 1) !important;
    -webkit-transform: translateX(-20%) scale(-1, 1) !important;
    -moz-transform: translateX(-20%) scale(-1, 1) !important;
    -ms-transform: translateX(-20%) scale(-1, 1) !important;
    -o-transform: translateX(-20%) scale(-1, 1) !important;
}

  #canvas {
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
}
}

@media screen and (max-width: 420px) and (orientation:portrait) {
  #webcam {
    -moz-transform: translateX(-15%) scale(-0.7, 0.7) !important;
    -ms-transform: translateX(-15%) scale(-0.7, 0.7) !important;
    -o-transform: translateX(-15%) scale(-0.7, 0.7) !important;
    -webkit-transform: translateX(-15%) scale(-0.7, 0.7) !important;
    transform: translateX(-15%) scale(-0.7, 0.7) !important;
}

  #canvas {
    -moz-transform: translateX(-15%) scale(0.7);
    -ms-transform: translateX(-15%) scale(0.7);
    -o-transform: translateX(-15%) scale(0.7);
    -webkit-transform: translateX(-15%) scale(0.7);
    transform: translateX(-15%) scale(0.7);
}
}